/.metadata/.plugins/org.eclipse.dltk.core
.history
/.metadata/.plugins/org.eclipse.core.resources/.projects/finance/.indexes/e4/26/1d/c4/history.index
history.index
org.eclipse.e4.workbench
org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.m2e.logback.configuration
/.metadata/.bak_0.log
/.metadata/.bak_1.log
/.metadata/.bak_2.log
/.metadata/.bak_3.log
/.metadata/.bak_4.log
/.metadata/.bak_5.log
/.metadata/.bak_6.log
/.metadata/.bak_7.log
/.metadata/.lock
/.metadata/.log
.metadata
.recommenders
RemoteSystemsTempFiles
/exportDoc/.classpath
/exportDoc/.project
/exportDoc/.settings/org.eclipse.jdt.core.prefs
/exportDoc/.settings/org.eclipse.m2e.core.prefs
